.Users{
    min-height: 100vh;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Users__content{
    margin: 30px 0px;
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    background: var(--grey-color);
    border: 2px solid var(--grey-color);
    border-radius: 10px;
}
.Users__data{
    height: 90%;
    width: 90%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Users__avatar img{
    margin: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 790px){
    .Users__content{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .Users__data{
        padding: 20px 10px;
    }

}
@media (max-width: 610px){
    .Users__content{
        grid-template-rows: 1fr 1fr;
    }
}