.Input {
  color: var(--defual-color);
  border: none;
  border-bottom: 2px solid var(--white-color);
  height: 40px;
  width: 100%;
  background: var(--grey-color);
  border-radius: 0;
  padding: 5px;
  font-size: 18px;
  outline: none;
}
