.Profile {
  width: 100%;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile__user__data {
  border: 2px solid var(--white-color);
  box-shadow: 0px 10px 50px var(--secondary-color);
  max-width: 400px;
  min-height: 450px;
  background: var(--black-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  align-items: center;
  word-break: break-all;
  & div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.Profile__avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.Profile__logout__panel,
.Profile__settings__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.Profile__avatar__panel {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr;
  overflow-x: scroll;
  gap: 20px;
  & img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (max-width:800px) {
  .Profile__avatar__panel{
    width: 350px;
  }
}