.FullOpenPost {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.FullOpenPost__content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FullOpenPost__preview {
  width: 450px;
  object-fit: cover;
  border-radius: 5px;
}
.FullOpenPost__comment,
.FullOpenPost__data {
  border: 2px solid var(--white-color);
  box-shadow: 0px 0px 20px var(--white-color);
  background: var(--grey-color);
}
.FullOpenPost__data {
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-gap: 10px;
  padding: 10px;
}
.FullOpenPost__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.FullOpenPost__metadata {
  display: flex;
  gap: 30px;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
.FullOpenPost__comment{
    & h1{
        margin: 30px;
    }
}
.FullOpenPost__comment__form{
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & a{
    border-bottom: 3px solid var(--white-color);
  }
}

@media (max-width: 600px) {
  .FullOpenPost__preview {
    width: 100%;
    max-height: 50vh;
  }
}
