.Home {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.Home__1__section {
  padding-top: 28vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.Home__2__section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Home__1__section__content {
  width: 80%;
}
.Home__links {
  display: flex;
  justify-content: space-around;
}
.Home__title {
  font-weight: 900;
  font-size: 12vw;
  max-width: 80vw;
  max-height: 50vh;
  border-bottom: 1px solid var(--defualt-color);
  margin: 50px 0px;
  padding-bottom: 50px;
  text-align: center;
  text-shadow: 0px 0px 150px var(--white-color);
}
.Home__secondary__title {
  font-weight: 900;
  font-size: 6vw;
  max-width: 80vw;
  border-bottom: 1px solid var(--defualt-color);
  margin: 30px 0px;
  padding-bottom: 20px;
  text-align: center;
}
.Home__2__section__image,
.Home__2__section__decription {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.Home__2__section__image {
  & img {
    width: 100%;
  }
}
.Home__2__section__decription div{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1200px) {
  .Home__1__section__links {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }
  .Home__2__section__image,
  .Home__2__section__decription {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .Home__links {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .Home__2__section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
