.Admin {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
  padding-top: 120px;
}
.PostData {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.PostData__preview__image {
  max-width: 100%;
  max-height: 40vh;
  object-fit: cover;
  cursor: pointer;
  margin-left: 20px;
}
.PostData__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.PostData__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  & div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.PostData__tagItem {
  cursor: pointer;
}

@media (max-width:800px) {
    .Admin{
        grid-template-columns: 1fr;
    }
    .PostData__preview{
        grid-row: 1/2;
        max-height: 40vh;
    }
}